/* * {
  border: solid black 1px;
} */

body, body * {
  max-height: 1000000px;
}

.leaflet-container {
  height: calc(100% - 48px);
  width: 50%;
  position: fixed;
  margin-top: 48px;
}

.outer-container {
  display: flex;
}

img {
  width: 100%;
}

#record-container {
  padding: 0;
}

#record-container div.row {
  margin: 0 10px;
}

#record-container .date-block {
  z-index: 99;
  text-align: center;
  color: white;
  padding: 7px;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#record-container .date-day {
  font-size: 25px;
}

#record-container .date-number {
  font-size: 22px;
}

#record-container .date-schedule {
  z-index: 99;
  color: white;
  padding: 15px;
  font-size: 20px;
}

#record-container .sticky-container {
  /* position: sticky;
  top: 48px;
  z-index: 99; */
  background-color: #eee;
}

#record-container .sticky-date-block {
  position: sticky;
  top: 48px;
  z-index: 99;
  background-color: #aaa;
  margin: 0px 10px;
  border-radius: 5px;
}

#record-container .time-block {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 23px;
  text-align: right;
}

#record-container .time-block p {
  margin-top: 20%;
  right: 20px;
}

#record-container .title {
  padding: 0px 15px;
  margin: 0px 45px 3px 45px;
  font-weight: 500;
  font-size: 25px;
  /* border-bottom: solid 0.5px #ebebeb; */
}

#record-container .description {
  padding: 0 20px 0 60px;
  margin-bottom: 4px;
  font-size: 18px;
}

#root {
  background-color: #eee;
}

#record-container #vertical-timeline {
  position: absolute;
  width: 6px;
  height: 100%;
  top: 0;
  left: 60%;
  margin-left: -2px;
  background: #bbb;
  z-index: 1;
}

#record-container .time {
  position: absolute;
  left: 0;
  top: 32px;
  z-index: 5;
  padding: 4px 10px;
  border-radius: 5px;
  background-color: #99cfff;
  color: white;
  box-shadow: 4px 6px 5px 0px rgb(0 0 0 / 10%);
  width: 100px;
  text-align: center;
}

.leaflet-popup-tip,
.leaflet-popup-content-wrapper {
    color: #234c5e;
    font-size: 20px;
}

.popup-content:hover {
  cursor: pointer;
}

#record-container .summary {
  background-color: white;
  margin: 68px 10px 10px 10px;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0px 0px 10px 6px rgb(0 0 0 / 10%);
}

#record-container .summary > div {
  margin: 20px;
}

#record-container .summary div {
  font-size: 18px;
}

#record-container .summary .row {
  margin-bottom: 6px
}

#record-container .summary .col-sm-2 {
  text-align: right;
  padding: 0px
}

#record-container .summary .col-sm-10 {
  padding: 0px
}

#record-container .summary a:hover {
  color: #888;
  text-decoration: none;
}

#record-container .summary span {
  background-color: #666;
  color: white;
  margin: 0 10px;
  padding: 3px 8px;
  font-size: 15px;
  border-radius: 5px;
}

#record-container .summary .custom-btn {
  margin: 15px 10px 0 0;
  font-size: 18px;
  box-shadow: none;
}

#record-container .summary .custom-btn:hover {
  color: white;
  background-color: #5eafff !important;
}

#record-container .summary h3 {
  text-align: center;
  background: #bbb;
  color: white;
  padding: 10px;
}

#record-container .record-block {
  padding: 0;
}

#record-container .record-block .record {
  padding: 20px 0px 10px 0px;
  box-shadow: 0px 0px 10px 6px rgb(0 0 0 / 10%);
  margin-top: 15px;
  margin-bottom: 40px;
  background-color: white;
  border-radius: 5px;
  overflow: hidden;
}

#record-container .record-block .record img {
  height: auto;
  max-width: 100%;
}

#record-container .image-container {
  max-width: 100%;
  margin: 17px 15px 15px 15px;
  border-radius: 5px;
  overflow: hidden;
}

#record-container .image-container > .image-description {
    text-align: center;
    color: #777;
    margin-top: 4px;
}

#to-top-btn {
  position: fixed;
  bottom: 2%;
  right: 3%;
  background-color: #8cc6ff ;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  z-index: 100;
  cursor: pointer;
  color: white;
  box-shadow: 2px 3px 9px 1px rgb(0 0 0 / 30%);
}

#tile-select {
  position: fixed;
  z-index: 99;
  left: 70px;
  top: 60px;
}

.carousel {
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.carousel-item {
  top: -205px;
}

.caption {
  background-color: rgba(51,51,51,.5);
  position: absolute;
  top: 200px;
  color: white;
  left: 300px;
  margin-top: 200px;
  font-size: 130px;
  padding: 5px 20px;
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
  margin: 10px 30px;
  background-color: #8cc6ff !important;
  border-color: #8cc6ff !important;
  font-size: 14px;
}

.modal .modal-date {
  font-weight: 700;
}


@media screen and (max-width: 768px) {
  .leaflet-container {
    height: 25%;
    width: 100%;
    position: fixed;
    z-index: 999;
    margin-top: 48px;
  }

  #record-container > .row > .col-sm-6 {
    padding: 0;
  }

  #record-container .summary {
    background-color: white;
    margin: 10px;
    border-radius: 5px;
    overflow: hidden;
  }

  #record-container .summary > div {
    margin: 15px 8px;
  }

  #record-container .summary div {
    font-size: 14px;
  }

  #record-container .summary .col-sm-2 {
    text-align: left;
    padding: 0px;
  }

  #record-container .summary .col-sm-10 {
    padding: 0px 0px 0px 25px;
  }

  #record-container .summary p {
    white-space: pre;
    font-size: 10px;
    padding: 5px;
    margin-bottom: 0;
  }

  #record-container .summary span {
    margin: 0 5px;
    padding: 1px 5px;
    font-size: 12px;
    border-radius: 5px;
  }

  #record-container .summary .custom-btn {
    margin: 15px 10px 0 0;
    font-size: 14px;
    box-shadow: none;
  }

  #record-container .summary h3 {
    font-size: 20px !important;
    margin-bottom: 0;
  }

  #record-container .date-block {
    z-index: 99;
    text-align: center;
    color: white;
    padding: 7px;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  #record-container .date-schedule {
    z-index: 99;
    color: white;
    padding: 12px;
    font-size: 15px;
  }

  #record-container .date-day {
    font-size: 15px;
  }

  #record-container .date-number {
    font-size: 15px;
  }

  #record-container .time {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 13px;
    text-align: right;
    width: 60px;
    top: 25px;
  }

  #record-container #vertical-timeline {
    position: absolute;
    width: 5px;
    height: 100%;
    top: 0;
    left: 50%;
    margin-left: -2px;
    background: #bbb;
    z-index: 1;
  }

  #record-container .title {
    padding: 0px 15px 0 26px;
    margin: 0;
    font-weight: 500;
    font-size: 15px;
  }

  #record-container .description {
    padding: 5px 0px 0px 26px;
    margin-bottom: 0;
    font-size: 10px;
  }

  #record-container .record-block .record {
    margin-top: 15px;
    margin-bottom: 10px;
    background-color: white;
    border-radius: 5px;
    overflow: hidden;
    padding: 12px;
  }

  #record-container .sticky-date-block {
    position: sticky;
    z-index: 99;
    background-color: #aaa;
  }

  #record-container div.row {
    margin: 0px 5px;
  }

  #record-container .image-container {
    max-width: 100%;
    margin: 8px 0 0 0;
    border-radius: 5px;
    overflow: hidden;
  }

  #record-container .image-container > .image-description {
    font-size: 12px;
}

  .leaflet-popup-tip,
  .leaflet-popup-content-wrapper {
      color: #234c5e;
      font-size: 14px;
  }

  #mobile-home {
    margin-top: 48px;
    padding-top: 1px;
    background-color: white;
  }

  #mobile-home > div {
    border-radius: 10px;
    margin: 15px;
    overflow: auto;
    box-shadow: 0px 0px 10px 6px rgb(0 0 0 / 10%);
  }

  #mobile-home .title {
    padding: 5px 0px 0px;
    font-weight: bold;
    font-size: 20px;
    margin: 8px 25px 0px;
  }

  #mobile-home .date {
    float: right;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0px 20px 8px;
    font-size: 12px;
  }

  #mobile-home .date > span {
    margin: 5px;
    background-color: #666;
    color: white;
    padding: 1px 5px;
    font-size: 12px;
    border-radius: 4px;
  }

  #mobile-home .title > span {
    float: left;
  }

}
